<!-- card.component.html -->

<div class="card">
  <div class="card-header">
    {{ cardData.name }}
  </div>
  <div class="card-field">
    <div class="card-label">Address:</div>
    {{ cardData.address }}
  </div>

  <div class="card-field">
    <div class="card-label">{{cardData.username ? 'Username:' : 'Description:'}}</div>
    {{cardData.username ?  cardData.username : cardData.description }}
  </div>

  <div class="btn-container">
    <button (click)="editCard()" class="edit">Edit</button>
    <button (click)="deleteCard()" class="delete">Delete</button>
  </div>
</div>
